body{
	background-color:black;
}

div{
	width:900px;
	margin:auto;
}

h1 {
	color:white;
}

#btmMid{
	background:blue;
}

#menu{
	background:red;
}

.service{
	width:100px;
	height:100px;
}

#about{
	background:blue;
}

#service{
	background:#00BFFF;
}

ul li{
	display:inline-block;
	padding:10px;
}
ul li a{
	text-decoration:none;
	color:white;
}

//link
a:link {
    color: #FF0000;
}

a:visited {
    color: white;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: blue;
}