#bigDiv{
	width:900px;
	margin:auto;
}
#logo{
	text-align:center;
}	

ul li{
	display:inline-block;
	padding:30px;
	position:relative;
}
ul li a{
	text-decoration:none;
	color:black;
}

ul ul{
	display:none;
}
ul li:hover>ul{
	display:block;
}
ul li ul{
	position:absolute;
}
ul li ul li{
	margin-left:-50px;
	background:white;
	width:100px;
	height:10px;
}
ul li ul li:hover{
	background:#DC143C;
}

#serviceBanner{
	height:30px;
	background:#F0F8FF;
}

#service ul li{
	margin-left:-50px;
	background:white;
	width:250px;
}
#service ul li:hover{
	background:#DC143C;
}

//link
#menu a:link {
    color: black;
}

#menu a:visited {
    color: black;
}

#menu a:hover {
    color: red;
}

#menu a:active {
    color: black;
}